@media screen and (max-width: 675px) {
	/* HEADER NAVBAR */

	.research-button {
		padding-left: 24px;
		padding-right: 24px;
	}

	.filter-title {
		width: 100%;
	}

	.filter-types {
		margin: 0 8px 8px 0;
	}

	.filter-types i {
		min-width: 40px;
		min-height: 40px;
		margin-right: 0;
	}
}