@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --primary: #0065fc;
  --secondary: #deebff;
  --inactive: #f2f2f2;
  --background: #fff;
}

@viewport { 
    width: device-width; 
    zoom: 1; 
}

*{
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: var(--background);
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  margin-bottom: 16px;
}
/*HEADER*/
.header {
  display: grid;
  align-items: center;
  margin: auto;
  max-width: 1500px;
}
.headerImg {
  grid-area: logo;
  padding: 0 32px;
  height: 45px;
}
.headerNav {
  display: flex;
  align-items: center;
  grid-area: navbar;
}
.headerNavLink {
  padding: 32px;
  font-weight: 500;
  text-align: center;
  border-top: 3px transparent solid;
  border-bottom: 3px transparent solid;
  text-decoration: none;
  color: #000;
}
.headerNavLink[data-active=true] {
  color: var(--primary);
}
.headerNavLink:hover {
  color: #0065FC;
}

.headerSignup {
  display: flex;
  align-items: center;
  grid-area: button;
  padding: 32px;
  color: var(--primary);
  font-weight: 600;
}

.header {
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo . navbar button";
}

.headerNavLink[data-active=true] {
    border-top: 3px solid var(--primary);
}

/*HEADER*/
/*MAIN*/
main {
  max-width: 1500px;
  padding: 0 32px;
  margin: auto;
}

/*RECHERCHE*/
.research-title {
  margin-bottom: 0;
  font-size: 32px;
}

.research-subtitle {
  margin-top: 8px;
}

.research-form {
  display: flex;
}

.research-icon {
  background-color: var(--inactive);
  border-radius: 15px 0 0 15px;
  width: 40px;
  height: 100%;
  display: flex ;
  align-items: center;
  justify-content: center;
}

.research-input {
  border: 1px solid var(--inactive);
  width: 224px;
  font-size: 16px;
  font-family: "Raleway", serif;
  font-weight: 600;
  padding-left: 10px;
}

.research-input:focus {
  outline: none ;
  border: 3px solid var(--inactive);
}

.research-button {
  background-color: var(--primary);
  border: none;
  height: 48px;
  border-radius: 0 15px 15px 0;
  color: #fff;
  font-family: "Raleway", serif;
  font-weight: 800;
  font-size: 16px;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
} 
/*RECHERCHE*/
/*FILTRE*/
.filter-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.filter-title {
  display: flex;
  padding-right: 16px;
}

.filter-types {
  display: flex;
  margin-right: 32px;
  border: 2px solid var(--inactive);
  border-radius: 32px;
  align-items: center;
  padding-right: 16px;
  font-weight: 600;
}

.filter-types i {
  background-color: var(--secondary);
  min-width: 48px;
  min-height: 48px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  color: var(--primary);
}

.filter-resultat i {
  min-width: 32px;
  min-height: 32px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  color: var(--primary);
  border: 2px solid var(--inactive);
  margin-right: 8px;
}
.filter-types:hover {
  background-color: #f3f8ff;
  transform: scale(1.015);
}
/*FILTRE*/
/*HEBERGEMENT*/

.lodging-section {
  max-width: 100%;
  display: flex;
}

.lodging-resum {
  background-color: var(--inactive);
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 32px 0 32px;
}

.lodging-title {
  width: 100%;
}

.lodging-card {
  background-color: var(--background);
  width: 100%;
  max-width: 29%;
  padding: 8px;
  border-radius: 20px;
  margin: 16px;
}

.lodging-card-img {
  width: 100%;
  height: 128px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.lodging-card-title {
  padding: 0;
  margin: 3px 0 0 8px;
}

.lodging-card-desc {
  padding: 0;
  margin: 8px 0 0 8px;
}

.lodging-card-rate {
  padding: 0;
  margin: 6px 0 0 8px;
  color: #b9b9b9;
}

.blue {

  color: var(--primary);

}
/*POPULAIRE*/
.pop-section {
background-color: var(--inactive);
border-radius: 20px;
width: 100%;
max-width: 32%;
padding: 0 32px;
margin-left: 32px;
}

.pop-card {
display: flex;
min-height: 100px;
width: 100%;
padding: 8px;
background-color: var(--background);
border-radius: 20px;
margin: 32px 0;
}

.pop-title {
justify-content: space-between;
display: flex;
}

.pop-img {
min-height: 100%;
width: 33%;
position: relative;
}

.pop-card-img {
position: absolute;
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 20px 0 0 20px;
}

.pop-text {
display: flex;
flex-direction: column;
}

.pop-card-title {
margin: 0 0 3px 8px;
}

.pop-card-desc {
margin: 0 0 3px 8px;
}

.pop-card-rate {
margin: 48px 0 3px 8px;
color: #b9b9b9;
}

.pop-card:hover {
  transform: scale(1.01);
}

/*POPULAIRE*/
/*HEBERGEMENT*/
/*ACTIVITE*/
.activity-section {
  margin-bottom: 32px;
}

.activity-content {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 580px;
}

.activity-box:hover {
  transform: scale(1.01);
}

.activity-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: calc(30% - 96px);
  margin-right: 32px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 5px 15px #00000033;
}


.activity-box:nth-of-type(1),
.activity-box:nth-of-type(4) {
    height: 100%;
}

.activity-box:nth-of-type(2) {
    height: 55%;
}

.activity-box:nth-of-type(3) {
    height: 35%;
}

.activity-box:nth-of-type(5),
.activity-box:nth-of-type(6) {
    height: 45%;
}

.activity-img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.height {
  height: 90%;
}

.activity-title {
  margin-left: 8px;
  text-rendering : auto;
}

/*ACTIVITE*/
/*FOOTER*/
.footer {
  background-color: var(--inactive);
  width: 100%;
}

.footer-container {
  display: flex;
  max-width: 100%;
  width: 1500px;
  margin: auto;
  padding: 0 2em;
}

.footer-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2em 2em;
  line-height: 2em;
}
.footer-column a {
  color: #000;
  text-decoration: none;
}


/*FOOTER*/
/*MAIN*/

@media screen and (min-width: 600px) {
	/* HEADER NAVBAR */
  .header {
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo . navbar button";
  }
  .headerNavLink:hover {
    border-top: 3px solid #0065FC;
  }

}

@media screen and (max-width: 620px) {
	/* HEADER NAVBAR */
  .header {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo . button" "navbar navbar navbar";
  }
  .headerimg {
    order: 0;
  }
  .headerSignup {
    order: 1;
  }
  .headerNav {
    order: 2;
  }
  .headerNavLink {
    border-top: none;
    border-bottom: 3px solid #F2F2F2;
    width: 50%;
    color: #000;
  }
  .headerNavLink[data-active=true] {
    border-top: none;
    border-bottom: 3px solid #0065FC;
  }
  .headerNavLink:hover {
    border-bottom-color: #0065FC;
  }


	.research-button {
		padding-left: 24px;
		padding-right: 24px;
	}

	.active {
		border-bottom: 5px solid var(--primary);
	}

	.filter-title {
		width: 100%;
    font-size:18px;
	}

	.filter-types {
		margin: 0 0.5em 0.5em 0;
	}

	.filter-types i {
		min-width: 40px;
		min-height: 40px;
		margin-right: 0;
	}

}
@media screen and (min-width: 1301px) {
  .fa-search{
    display: none;
  }
  .filter-container {
    padding-top: 32px;
  }
}
.lodging-card:hover {
  transform: scale(1.02);
}

@media screen and (max-width: 1300px) {

  
	.lodging-section {
		flex-direction: column-reverse;
	}

	.lodging-resum {
		width: 100%;
		justify-content: center;
	}

	.lodging-card {
		max-width: 30%;
		margin: 5px;
    box-sizing: border-box;
    
	}

	.pop-section {
		width: 100%;
		max-width: 100%;
		margin-left: 0;
		margin-bottom: 32px;
	}

  .research-button span {
		display: none;
	}
}



@media screen and (max-width: 620px) {
  .research-title {
    margin-bottom: 0;
    font-size:20px;
  }
  
  .research-subtitle {
    margin-top: 8px;
  }
	.lodging-resum {
		background-color: #fff;
		padding: 0;
	}

	.lodging-card {
		width: 100% ;
		max-width: 100% ;
		margin: 16px 0 ;
		box-shadow: 0 5px 15px #00000033;
	}

	.pop-section {
		margin-bottom: 32px;
		padding: 0 16px;
    
	}

	.activity-section {
		height: 1800px;
	}

	.activity-content {
		display: block;
	}

	.activity-box {
		width: 100%;
		max-width: 100%;
		margin: 32px 0;
	}

  .activity-title {
    margin-left: 8px;
    text-rendering : auto;
  }

	.activity-box {
		height: 45%;
	}

	/* FOOTER */
	.footer-container {
		display: block;
	}

	.footer-column {
		width: 100%;
		padding: 8px 16px;
	}
  .footer-column:hover {
    text-decoration: underline;
  }
}

@media screen and (max-width: 900px) {
  .activity-section {
		height: 1800px;
	}

	.activity-content {
		display: block;
	}

	.activity-box {
		width: 100%;
		max-width: 100%;
		margin: 32px 0;
	}

  .activity-title {
    margin-left: 8px;
    text-rendering : auto;
  }

	.activity-box:nth-of-type(1),
	.activity-box:nth-of-type(2),
	.activity-box:nth-of-type(3),
	.activity-box:nth-of-type(4),
	.activity-box:nth-of-type(5),
	.activity-box:nth-of-type(6) {
		height: 45%;
	}
}